# Ignore JetBrains settings 
.idea

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore bin directory
lib/bin

# Ignore changeset files
package-lock.json
node_modules

# Ignore VSCode directory
.vscode